body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    }

header{
    background-color: rgb(255, 179, 0);
    text-align: center;
    padding: 30px;
}

h1,h2{
    font-family:Arial; font-size: 60px;
}
/* header styles */
h1{
    color: rgb(0, 0, 0);
    font-size: 60px;
    
}

header img{
    border-radius: 300px; 
    width: 900px;
    border: 20px solid rgb(255, 187, 0); 
}

h2{
    margin: auto;
}

main{
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgb(255, 179, 0);
}

main img{
    max-width: 100%;      
    }

p1{
    font-size: 30px;
}

a{
    color: #e70c19;
}
a:hover{
    color:rgb(0, 0, 0);
    background-color:#e70c19;
}

footer{
    background-color: rgb(255, 179, 0);
    text-align: center;
    padding: 30px;
}
footer p{
    margin: 0;
}

Footer a:hover{
    opacity: .6;
    color: white;
}

p.caption{
    color: #000000;
}
p{
    margin: 0;
}